/* FOOTER */
.footer {
  grid-area: footer;
  background: $Dark;
  padding: 1.5em 0;

  &__content {
    max-width: 90%;
    margin: auto;
    color: $White;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      margin-right: 2em;
    }
    i {
      font-size: 1.5em;
      margin: 0.5em;
      color: $White;

      &:hover {
        color: $Blue;
      }
    }
  }
}
