.btn-primary {
  color: $White;
  width: 20%;

  svg:hover {
    color: $Text-color;
    cursor: pointer;
  }
}
.btn-secondary {
  color: $Dark;
  width: 45%;

  svg:hover {
    color: $Text-color;
    cursor: pointer;
  }
}
